server:
  port: 8081

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
  h2:
    console:
      enabled: true

jwt:
  secret: cHFjLWRpZ2l0YWwtc2lnbmF0dXJlLXNlY3JldC1rZXktMjAyNC12ZXJ5LWxvbmctYW5kLXNlY3VyZQ==
  expiration: 86400000
