server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://postgres-db:5432/crypto_main
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
  secret: pqc-digital-signature-secret-key-2024-very-long-and-secure
  expiration: 86400000

logging:
  level:
    com.gov.crypto: DEBUG
    org.hibernate.SQL: DEBUG
