server:
  port: 8082
  servlet:
    session:
      cookie:
        domain: gov-id.lvh.id.vn
        path: /

spring:
  application:
    name: ca-authority
  datasource:
    url: jdbc:postgresql://postgres:5432/crypto_main
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  session:
    store-type: redis
    redis:
      namespace: crypto-session
  data:
    redis:
      host: redis
      port: 6379

app:
  ca:
    storage-path: ${CA_STORAGE_PATH:/secure/ca}
  mtls:
    storage-path: ${MTLS_STORAGE_PATH:/secure/mtls}

logging:
  level:
    com.gov.crypto: DEBUG
