server:
  port: 8086

spring:
  application:
    name: doc-service
  datasource:
    url: jdbc:postgresql://postgres:5432/crypto_doc
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    com.gov.crypto: INFO

---
spring:
  config:
    activate:
      on-profile: dev
  jpa:
    show-sql: true

logging:
  level:
    com.gov.crypto: DEBUG
