server:
  port: 8080
  error:
    include-message: always
    include-exception: true
    include-stacktrace: always
spring:
  application:
    name: validation-service
  main:
    banner-mode: off
logging:
  level:
    root: INFO
    com.gov.crypto: DEBUG
