server:
  port: 8082

spring:
  application:
    name: ca-authority
  datasource:
    url: jdbc:postgresql://postgres:5432/crypto_main
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
  level:
    com.gov.crypto: DEBUG
