# Development overlay
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: crypto-pqc

resources:
  - ../../base

patches:
  - path: patches.yaml

configMapGenerator:
  - name: crypto-config
    behavior: merge
    literals:
      - SPRING_PROFILES_ACTIVE=dev,kubernetes
      - LOGGING_LEVEL_ROOT=DEBUG
      - LOGGING_LEVEL_COM_GOV_CRYPTO=DEBUG

# Development uses lower resource limits
replicas:
  - name: api-gateway
    count: 1
  - name: identity-service
    count: 1
  - name: ca-authority
    count: 1
  - name: cloud-sign
    count: 1
  - name: validation-service
    count: 1
  - name: public-portal
    count: 1
